html,body{height:100%;}
.nav-tabs li a {
  color: #777;
}
.navbar {
  font-family: Montserrat, sans-serif;
  margin-bottom: 0;
  background-color: #2d2d30;
  border: 0;
  font-size: 11px !important;
  letter-spacing: 4px;
  opacity: 0.9;
}
.navbar li a, .navbar .navbar-brand {
  color: #d5d5d5 !important;
  text-transform: uppercase;
}
.navbar-nav li a:hover {
  color: #fff !important;
}
.navbar-nav li.active a {
  color: #fff !important;
  background-color: #29292c !important;
}
.navbar-default .navbar-toggle {
  border-color: transparent;
}

.masthead-container{
    height: 100%;
}
@media only screen and (max-width: 500px) {
    .masthead-container{
    height:200px;
  }
}
.masthead-content{
  background-image:url('images/masthead_med.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height:100%;
  width: 100%;
  min-height:100%;
  color:#efefef;
}
#masthead-image{
  background: url('images/masthead_text.png') no-repeat 0%;
  background-size: contain;
  margin-top:  200px;
  margin-left: 10%;
  height: 100px;
  
}
#masthead-description{
  color: #fff;
  font-size: 20px;  
  font-family: 'Source Sans Pro','Arial', sans-serif;
  margin-left: 10%;
  opacity: 0.9;
}
#gallery{
  font-family: Montserrat, sans-serif;
  background-color: #2d2d30;
  width: 100%;
  opacity: 0.9;
  color: #d5d5d5 !important;
}
#gallery .header{
  margin-top: 50px;
  margin-bottom: 50px;
  letter-spacing: 4px;
}
#gallery .description p{
  font-size: 15px;
  margin-right: 10%;
  margin-left: 10%;
}
.nav-tabs li a {
  color: #777;
}
.gallery
{
    display: inline-block;
    margin-top: 20px;
}
.card{
  font-family: Montserrat, sans-serif;
}
.card-title{
  letter-spacing: 4px;
  color: #000;
}
.card img{
  width: 90%;
}
